@import "tailwindcss";
    #main {
        background: black;

    }
    #in-pagetitle {
        color: white;
        position: absolute;
        top: 10px;
        left: 5vw;
    }
    #links  {
        color: white;
        position: absolute;
        top: 10px;
        left: 70vw;
        width: 25vw;
        border: 1px solid white;
    }
    #mainscroll  {
        color: white;
        position: absolute;
        top: 200px;
        left: 25vw;
        width: 50vw;
        border: 1px solid white;
    }
    .link {
        color: white;
        padding: 10px;
        display: block;
    }
    #readme {

    }
    #profile {
        color: white;
    }
    #repo-list {
        color: white;
    }
